.cart-page-wrapper{
    @include breadcrumb;
    .main_v2 .box-title .p_title {
        padding: 13px !important;
    }
 
    .cart-product{
        @media (max-width: 768px) { 
            border: none !important;
            tr.tr-title{
                display: none;
            }
            tr.list-product-cart{
                display: table;
                width: 100%;
                border-collapse: separate;
                margin-bottom: 20px;
                th{
                    display: table;
                    width: 100%;
                    border-collapse: separate;
                }
                th.cart-infor{
                    display: flex;
                    //justify-content: space-around;
                    align-items: center;
                    border-bottom: none;
                    padding: 20px 25px !important;
                    span{
                        margin-left: 35px;
                    }
                }
                th.th-stt{
                    display: none;
                }
                th.th-quantity{
                    width: 25%;
                    float: left;
                    height: 78px;
                    border-collapse: collapse;
                    text-align: center;
                    border-right: none;
                    border-top: none;
                    border-bottom: none;
                    padding: 22px 25px;
                    display: block;
                    input{
                        //margin-top: 25%;
                 
                    }
               
                }
                th.th-price-item{
                    width: 75%;
                    float: left;
                    border-left: none;
                    border-top: none;
                    border-bottom: none;
                    text-align: left !important;
                    &:before{
                        content: "x";
                      
                    }
                    // &:after{
                    //     content: "=";
                    //     margin-right: 15px;
                    //     margin-left: 15px;
                    // }
                    .remove-cart{
                        border: 0;
                        padding: 4px 8px;
                        background-color: #c66;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 3px;
                        float: right;
                        
                        //margin-left: 74px;
                    }
                }
                th.th-total-item{
                    width: 100%;
                    border-top: none;
                    text-align: left !important;
                    padding: 25px 40px;
                    //margin-left: -40px;   
                    &:before{
                        content: "Tổng tiền:";
                        margin-right: 38px;
                    }
                }
            }
            .subtotal{
                display: table;
                width: 100%;
                border-collapse: separate;
                border:none;
                margin-top: 60px;
                th{
                    border:none;
                    text-align: left !important;
                    font-size: 14px;
                }
                th.number_subtotal{
                    margin-left: -30px;
                }
            }
    
        }
        background-color: #fbfbfb;
        border: 1px solid #d8d8d8 !important;
        width: 100%;
        max-width: 100%;
        img{
            width: 56px;
            height: 50px;
            object-fit: contain;
        }
        tr th{
            font-size: $font_size_large;
            padding: 25px 10px;
            vertical-align: inherit !important;
            font-weight: 600;
            input{
                margin: 0 auto;
                width: 50px;
                height: 30px;
                border-radius: 6px;
                border: solid 1px #d8d8d8;
                background-color: #ffffff;
                text-align: center;
                font-size: $font_size_large;
                font-stretch: normal;
                font-style: normal;
                //line-height: 1.31;
                letter-spacing: normal;
                color: #707070;
                font-weight: 600;
                
            }
        }
        tr.list-product-cart th{
            font-size: $font_size_large;          
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #707070; 
            font-weight: 600;
        }
        tr.subtotal .number_subtotal{
            margin: 0 auto;
            font-size: $font_size_large;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: center;
            color: #ff0000;
            font-weight: 600;
        }
        tr th.th-price-item{
            .remove-cart{
                border: 0;
                padding: 4px 8px;
                background-color: #c66;
                color: #fff;
                font-size: 12px;
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }
    .btn-continue{
        padding: 12px 20px;
        width: 186px;
        height: 45px;
        border-radius: 6px;
        border: solid 1px $default_text_color_sale;
        background-color: #fff;
        font-size: $font_size_large;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        color: $default_text_color_sale;
        font-weight: 600;
    }
    .btn-checkout{
        margin-left: 20px;
        padding: 12px 20px;
        width: 186px;
        height: 45px;
        border-radius: 6px;
        border: solid 1px $default_text_color_sale;
        background-color: $default_text_color_sale;
        font-size: $font_size_large;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        font-weight: 600;
    }
    .cl_btn{
        padding-right: 0px !important;
        margin-bottom: 600px;
        text-align: right;
    }
    @media (min-width: 768px) and (max-width: 991.98px) { 
        .cl_btn{
            text-align: center !important;
        }
    }
    @media (max-width: 768px) { 
        .cl_btn{
            text-align: center !important;
        }
        .btn-checkout{
            //margin-left: -14px !important;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
        }
        .btn-continue{
            display: block;
            margin: 0 auto;
        }

    }
}