// colors
$default_bg_color: #fff;
$box_bg_color: #f6f6f6;
$main_header_bg_color: #34495e;
$main_footer_bg_color: #d8d8d8;
$default_text_color: #333;
$default_text_color_sale: #fc7703;
$default_text_color_price: #707070;

// font-size
$font_size_smaller: 10px;
$font_size_small: 12px;
$font_size_normal: 14px;
$font_size_large: 16px;
$font_size_larger: 18px;
